@import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:200,400");
@font-face {font-family:'NanumGothic'; src: url('images/NanumGothic.eot');} 

/* body, input, select, textarea {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 600;
	line-height: 1.65;
} */


#header .inner {
	color: #fff;
	font-size: 3.5em;
	padding: 0 0.5em 0.25em 0.5em;
	font-weight: 500;
	font-family: "Pacifico", cursive;
	text-transform: none;
	letter-spacing: 10;
}


.inner h1{
	font-size: 2em;
	border-bottom: solid 0px #ffffff;
}

.thumbnail{
	 font-family:'NANUMSQUAREROUNDB';
}

.button{
	font-family:'NANUMSQUAREROUNDB';
}

@font-face {
    font-family:'NANUMSQUAREROUNDB';
    src: url('images/NANUMSQUAREROUNDB.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.material-button-anim {
  position: relative;
  padding: 127px 15px 27px;
  text-align: center;
  max-width: 320px;
  margin: 0 auto 20px;
}

.material-button {
    position: relative;
    top: 0;
    z-index: 1;
    width: 70px;
    height: 70px;
    font-size: 1.5em;
    color: #fff;
    background: #2C98DE;
    border: none;
    border-radius: 50%;
    outline: none;
}
.material-button-toggle {
    z-index: 3;
    width: 90px;
    height: 90px;
    margin: 0 auto;
}
.material-button-toggle span {
    -webkit-transform: none;
    transform:         none;
    -webkit-transition: -webkit-transform .175s cubic-bazier(.175,.67,.83,.67);
    transition:         transform .175s cubic-bazier(.175,.67,.83,.67);
}
.material-button-toggle.open {
    -webkit-transform: scale(1.3,1.3);
    transform:         scale(1.3,1.3);
    -webkit-animation: toggleBtnAnim .175s;
    animation:         toggleBtnAnim .175s;
}
.material-button-toggle.open span {
    -webkit-transform: rotate(45deg);
    transform:         rotate(45deg);
    -webkit-transition: -webkit-transform .175s cubic-bazier(.175,.67,.83,.67);
    transition:         transform .175s cubic-bazier(.175,.67,.83,.67);
}




