<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="CommonMapper">

	<resultMap id="reportSelectMap" type="report">
		<result property="reportNo" 			column="report_no" 				jdbcType="NUMERIC"/>
		<result property="userNo"				column="user_no" 				jdbcType="NUMERIC"/>
		<result property="reportContent" 		column="report_content" 		jdbcType="VARCHAR"/>
		<result property="reportTitle" 			column="report_title" 			jdbcType="VARCHAR"/>
		<result property="reportRegDate" 		column="report_reg_date" 		jdbcType="DATE" />
		<result property="targetUserNo" 		column="target_user_no" 		jdbcType="NUMERIC"/>
		<result property="targetRoomNo" 		column="target_room_no" 		jdbcType="NUMERIC"/>
		<result property="targetReplyNo" 		column="target_reply_no" 		jdbcType="NUMERIC"/>
		<result property="targetCommunityNo" 	column="target_community_no" 	jdbcType="NUMERIC"/>
	</resultMap>
	
	<resultMap id="friendSelectMap" type="friend">
		<result property="no" 					column="no" 			jdbcType="NUMERIC"/>
		<result property="userNo"				column="user_no" 		jdbcType="NUMERIC" />
		<result property="friendNo" 			column="friend_no" 		jdbcType="NUMERIC" />
	</resultMap>
	
	<resultMap id="replySelectMap" type="reply">
		<result property="replyNo" 			column="reply_no" 			jdbcType="NUMERIC"/>
		<result property="userNo"			column="user_no" 			jdbcType="NUMERIC" />
		<result property="replyContent" 	column="reply_content" 		jdbcType="VARCHAR" />
		<result property="replyRegDate" 	column="reply_reg_date" 	jdbcType="DATE" />
		<result property="productNo" 		column="product_no" 		jdbcType="NUMERIC" />
		<result property="communityNo" 		column="community_no" 		jdbcType="NUMERIC" />
		<result property="userName" 		column="user_name" 			jdbcType="VARCHAR" />
	</resultMap>
	
	
<!-- 	<resultMap id="totalsearchSelectMap" type="totalsearch">
		<result property="keyword" 			column="keyword" 			jdbcType="NUMERIC"/>
		<result property="room"				column="room" 				jdbcType="NUMERIC" />
		<result property="weather" 			column="weather" 			jdbcType="VARCHAR" />
		<result property="product" 			column="product" 			jdbcType="DATE" />
		<result property="nightLife" 		column="night_life" 		jdbcType="NUMERIC" />
		<result property="unsafeRegion" 	column="unsafe_region" 		jdbcType="NUMERIC" />
		<result property="currency" 		column="currency" 			jdbcType="NUMERIC" />
	</resultMap> -->
	
	<!--SQL : INSERT  -->
	<insert id="addReport" parameterType="report" useGeneratedKeys="true" keyColumn="reply_no" keyProperty="replyNo">
		INSERT
		INTO REPORT
		VALUES (
		seq_report_report_no.nextval,
		#{userNo:NUMERIC},
		#{reportContent:VARCHAR},
		#{reportTitle:VARCHAR},
		SYSDATE,
		#{targetUserNo:NUMERIC},
		<if test="targetRoomNo == 0">
		NULL
		</if>
		<if test="targetRoomNo != 0">
		#{targetRoomNo:NUMERIC}
		</if>
		,
		<if test="targetReplyNo == 0">
		NULL
		</if>
		<if test="targetReplyNo != 0">
		#{targetReplyNo:NUMERIC}
		</if>
		,
		<if test="targetCommunityNo == 0">
		NULL
		</if>
		<if test="targetCommunityNo != 0">
		#{targetCommunityNo:NUMERIC}
		</if>
		)
	</insert>
	
	<insert id="addFriend" parameterType="friend" useGeneratedKeys="true" keyColumn="no" keyProperty="no"> 
		INSERT 
		INTO FRIEND 
		VALUES (
		seq_friend_user_no.nextval,
		#{userNo:NUMERIC},
		#{friendNo:NUMERIC}
		)
	</insert>
	<!--SQL : INSERT  -->
	<insert id="addReply" parameterType="reply" useGeneratedKeys="true" keyColumn="reply_no,reply_reg_date" keyProperty="replyNo,replyRegDate" >
		INSERT 
		INTO REPLY 
		VALUES (seq_reply_reply_no.nextval,
		#{userNo:NUMERIC},
		#{replyContent:VARCHAR},
		SYSDATE,
		<if test="productNo == 0">
		NULL
		</if>
		<if test="productNo != 0">
		#{productNo:NUMERIC}
		</if>,
		<if test="communityNo == 0">
		NULL
		</if>
		<if test="communityNo != 0">
		#{communityNo:NUMERIC}
		</if>,
		#{userName:VARCHAR})	
	</insert>
	
	<!-- SQL : SELECT LIST -->
	
	<select id="listReport" parameterType="search" resultMap="reportSelectMap">
	SELECT *
  		FROM ( SELECT inner_table.*, ROWNUM AS row_seq
  						FROM (
							   SELECT
							   REPORT_NO,
							   USER_NO,
							   REPORT_CONTENT,
							   REPORT_TITLE,
							   REPORT_REG_DATE,
							   TARGET_USER_NO,
							   TAGET_ROOM_NO,
							   TARGET_COMMUNITY_NO,
							   TARGET_REPLY_NO
							   FROM 
  							   REPORT 
							   ORDER BY REPORT_NO
							   ) inner_table
  						WHERE ROWNUM <![CDATA[<=]]> #{search.currentPage}*#{search.pageSize} )
  		WHERE row_seq BETWEEN (#{search.currentPage}-1)*#{search.pageSize}+1
  		AND #{search.currentPage}*#{search.pageSize}
	</select>
	
	<select id="listFriend" parameterType="map" resultMap="friendSelectMap">
	SELECT *
  		FROM ( SELECT inner_table.*, ROWNUM AS row_seq
  						FROM (
							   SELECT
							   		USER_NO,
							   		FRIEND_NO,
							   		NO
							   FROM 
  							   FRIEND 
  							   WHERE USER_NO=#{friend.userNo}
							   ORDER BY USER_NO
							   ) inner_table
  						WHERE ROWNUM <![CDATA[<=]]> #{search.currentPage}*#{search.pageSize} )
  		WHERE row_seq BETWEEN (#{search.currentPage}-1)*#{search.pageSize}+1
  		AND #{search.currentPage}*#{search.pageSize}
	</select>
	
	<select id="listFriendOnly" parameterType="friend" resultMap="friendSelectMap">
		SELECT * FROM 
  		 friend 
  		WHERE user_no=#{userNo}
	</select>
	
	<select id="listReply" parameterType="map" resultMap="replySelectMap">
	SELECT *
  		FROM ( SELECT inner_table.*, ROWNUM AS row_seq
  						FROM (
							   SELECT
							   		REPLY_NO,
							   		USER_NO,
							   		REPLY_CONTENT,
							   		REPLY_REG_DATE,
							   		PRODUCT_NO,
							   		COMMUNITY_NO,
							   		USER_NAME
							   FROM 
  							   REPLY 
  							   <where>			
									<if test="targetType == 0">										
									    	PRODUCT_NO = #{codeNo}
									</if>
									<if test="targetType == 1">
									    	COMMUNITY_NO = #{codeNo}
									</if>									
							  </where>
							   ORDER BY REPLY_NO DESC
							   ) inner_table
  						WHERE ROWNUM <![CDATA[<=]]> #{search.currentPage}*#{search.pageSize} )
  		WHERE row_seq BETWEEN (#{search.currentPage}-1)*#{search.pageSize}+1
  		AND #{search.currentPage}*#{search.pageSize}
	</select>
	
	<!-- SQL : SELECT ONE -->
	
	<select id="getReport" parameterType="int" resultType="report">
		SELECT * FROM PRODUCT WHERE REPORT_NO = #{reportNo}
	</select>
	
	<select id="getFriend" parameterType="friend" resultMap="friendSelectMap">
		SELECT * FROM friend WHERE user_no=#{userNo} AND friend_no = ${friendNo}
	</select>
	
	<!-- SQL : UPDATE -->
	
	<update id="updateReply" parameterType="reply">
		UPDATE REPLY
	   	<set>
	   		REPLY_NO 		= #{replyNo} ,
			USER_NO			= #{userNo},
			REPLY_CONTENT 	= #{replyContent} ,
			REPLY_REG_DATE	= #{replyRegdate},
			PRODUCT_NO		= #{productNo},
			COMMUNITY_NO	= #{communityNo}
	   	</set>
	   	WHERE REPLY_NO = #{replyNo}
	</update>
	
	<!-- SQL : DELETE ONE -->
	
	<delete id="deleteFriend" parameterType="int">
		DELETE FROM FRIEND WHERE NO=#{no}
	</delete>
	
	<delete id="deleteReply" parameterType="int">
		DELETE FROM REPLY WHERE REPLY_NO=#{replyNo}
	</delete> 
	
	<select  id="getTotalCountReport"  resultType="int">
	  	SELECT COUNT(*)
	  		FROM(SELECT *
	  			 FROM REPORT
				) countTable						
	 </select>
	 
	 <select  id="getTotalCountFriend"  parameterType="int" resultType="int">
	  	SELECT COUNT(*)
	  		FROM(SELECT *
	  			 FROM FRIEND
	  			 WHERE USER_NO=#{userNo}
				) countTable						
	 </select>
	 
	 <select  id="getTotalCountReply"  parameterType="map" resultType="int">
	  	SELECT COUNT(*)
	  		FROM(SELECT *
	  				FROM REPLY 
  					<where>			
						<if test="targetType == 0">										
						   	product_No = #{codeNo}
						</if>
						<if test="targetType == 1">
						   	community_No = #{codeNo}
						</if>									
					</where>
				) countTable						
	 </select>
</mapper>