<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="InformationMapper">
 	
 	
	<resultMap id="currencySelectMap" type="currency">
		<result property="currencyNo" 		column="currency_no" 		jdbcType="NUMERIC"/>
		<result property="cur_unit"			column="cur_unit" 			jdbcType="VARCHAR" />
		<result property="deal_bas_r" 		column="deal_bas_r" 		jdbcType="VARCHAR" />
		<result property="cur_nm" 			column="cur_nm" 			jdbcType="VARCHAR" />
		<result property="regDate" 			column="reg_date" 			jdbcType="DATE" />
	</resultMap>
	
	<resultMap id="citySelectMap" type="city">
		<result property="cityNo" 			column="city_no" 			jdbcType="NUMERIC"/>
		<result property="cityName"			column="city_name" 			jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="countrySelectMap" type="country">
		<result property="countryNo" 				column="country_no" 				jdbcType="NUMERIC"/>
		<result property="countryKoName"			column="country_ko_name" 			jdbcType="VARCHAR" />
		<result property="countryEnName"			column="country_en_name" 			jdbcType="VARCHAR" />
		<result property="countryCode"				column="country_code" 				jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="continentSelectMap" type="continent">
		<result property="continentNo" 				column="continent_no" 				jdbcType="NUMERIC"/>
		<result property="ccontinentKoName"			column="continent_ko_name" 			jdbcType="VARCHAR" />
		<result property="ccontinentEnName"			column="continent_en_name" 			jdbcType="VARCHAR" />
	</resultMap>
	
	
	 <insert 	id="addCurrency"		parameterType="currency" >
	 	INSERT
		INTO currency( cur_unit, deal_bas_r, cur_nm, reg_date) 
		VALUES	 (	#{cur_unit} , #{deal_bas_r} , #{cur_nm} , now() )
	 </insert>
	 
	 <select 	id="findCurrency"	parameterType="string"	resultMap="currencySelectMap">
		SELECT
		deal_bas_r 		
		FROM currency 
		WHERE cur_nm = #{cur_nm} 
	 </select>
	 
	 <!-- SQL : UPDATE -->
	 <update	id="updateCurrency"	parameterType="currency" >
	   	UPDATE currency
	   	<set>	   		
			cur_unit				=	#{cur_unit},
			deal_bas_r				=	#{deal_bas_r},
			cur_nm					=	#{cur_nm},
			reg_date				=	now()
	   	</set>
	   	WHERE currency_no BETWEEN 1 AND 31
	 </update>
	 
	 <delete id="deleteCurrency">
	
		delete from currency 
	
	</delete>
	
	<select 	id="getCity"	parameterType="string"	resultMap="citySelectMap">
		SELECT * FROM city WHERE UPPER(city_name) Like UPPER('%${value}%')
	 </select>
	 
	 <select 	id="getKoCountry"	parameterType="string"	resultMap="countrySelectMap">
		SELECT *   FROM country WHERE country_ko_name Like '%${value}%'
	 </select>
	 
	 <select 	id="getEnCountry"	parameterType="string"	resultMap="countrySelectMap">
		SELECT *   FROM country WHERE UPPER(country_en_name) Like UPPER('%${value}%')
	 </select>
	 
	 <select 	id="findKoCountry"	parameterType="string"	resultMap="countrySelectMap">
		SELECT *   FROM country WHERE country_ko_name Like '${value}'
	 </select>
	 
	 <select 	id="findEnCountry"	parameterType="string"	resultMap="countrySelectMap">
		SELECT *   FROM country WHERE UPPER(country_en_name) Like UPPER('${value}')
	 </select>
	 
	 <select 	id="getKoContinent"	parameterType="string"	resultMap="continentSelectMap">
		SELECT *   FROM continent WHERE continent_ko_name Like '%${value}%'
	 </select>
	 
	 <select 	id="getEnContinent"	parameterType="string"	resultMap="continentSelectMap">
		SELECT *   FROM continent WHERE UPPER(continent_en_name) Like UPPER('%${value}%')
	 </select>
	 
	 
</mapper>