<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  						
<!--	mybatis-config.xml :: MyBatis Framework  MetaData -->
<configuration>

	<!-- 기타 설정정보 :: [MyBatis_Home]/mybatis-3.2.1.pdf 참조 -->
	<settings>
		<setting name="callSettersOnNulls" value="false"/>
	</settings>	
	
	<!-- FQCN(Full Qualified Class Name) Alias(별칭관리) -->
	<typeAliases>
		<typeAlias alias="friend" type="com.twiio.good.service.domain.Friend" />
		<typeAlias alias="reply" type="com.twiio.good.service.domain.Reply" />
		<typeAlias alias="totalsearch" type="com.twiio.good.service.domain.TotalSearch" />
		<typeAlias alias="user" type="com.twiio.good.service.domain.User" />
		<typeAlias alias="userEval" type="com.twiio.good.service.domain.UserEval" />
		<typeAlias alias="currency" type="com.twiio.good.service.domain.Currency" />
		<typeAlias alias="search" type="com.twiio.good.common.Search" />
		<typeAlias alias="mainPlan" type="com.twiio.good.service.domain.MainPlan" />
		<typeAlias alias="dailyPlan" type="com.twiio.good.service.domain.DailyPlan" />
		<typeAlias alias="planContent" type="com.twiio.good.service.domain.PlanContent" />
		<typeAlias alias="scrap" type="com.twiio.good.service.domain.Scrap" />
		<typeAlias alias="report" type="com.twiio.good.service.domain.Report" />
		<typeAlias alias="community" type="com.twiio.good.service.domain.Community" />
		<typeAlias alias="like" type="com.twiio.good.service.domain.Like" />
	</typeAliases>
	
	 <!-- SQL Definition :: file include -->
	<mappers>
		<mapper resource="sql/CommunityMapper.xml"/>
		<mapper resource="sql/CommonMapper.xml"/>
		<mapper resource="sql/UserMapper.xml"/>
		<mapper resource="sql/InformationMapper.xml"/>
		<mapper resource="sql/MainPlanMapper.xml"/>
		<mapper resource="sql/DailyPlanMapper.xml"/>
		<mapper resource="sql/PlanContentMapper.xml"/>
		<mapper resource="sql/ScrapMapper.xml"/>
	</mappers>

</configuration>