<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="MyPageMapper">

	<resultMap id="messageSelectMap" type="message">
		<result property="messageNo" 			column="message_no" 		jdbcType="NUMERIC"/>
		<result property="toUserNo"				column="to_user_no" 		jdbcType="NUMERIC"/>
		<result property="fromUserNo"	 		column="from_user_no" 		jdbcType="NUMERIC"/>
		<result property="messageContent"		column="message_content" 	jdbcType="VARCHAR"/>
		<result property="messageRegDate" 		column="message_reg_date" 	jdbcType="DATE" />
		<result property="messageType"	 		column="message_type" 		jdbcType="VARCHAR"/>
		<result property="messageTitle" 		column="message_title" 		jdbcType="VARCHAR"/>
		<result property="productNo"	 		column="product_no" 		jdbcType="NUMERIC"/>
		<result property="userName"	 			column="user_name" 			jdbcType="NUMERIC"/>
		<result property="targetUserName"	 	column="target_user_name" 	jdbcType="NUMERIC"/>
	</resultMap>
		
	<!--SQL : INSERT  -->
	<insert id="addMessage" parameterType="message" useGeneratedKeys="true" keyColumn="message_no" keyProperty="messageNo">
		INSERT INTO MESSAGE(to_user_no, from_user_no, message_content, message_reg_date, message_type,message_title, product_no, user_name,target_user_name) VALUES(
		#{toUserNo:NUMERIC},
		#{fromUserNo:NUMERIC},
		#{messageContent:VARCHAR},
		SYSDATE,
		#{messageType:VARCHAR},
		#{messageTitle:VARCHAR},
		<if test="productNo == 0">
		0
		</if>
		<if test="productNo != 0">
		#{productNo:NUMERIC}
		</if>,
		#{userName:VARCHAR},
		#{targetUserName:VARCHAR}
		)
	</insert>
	
	<!-- SQL : SELECT LIST -->
	
	<select id="listMessage" parameterType="map" resultMap="messageSelectMap">
	SELECT *
  		FROM ( SELECT inner_table.*, ROWNUM AS row_seq
  						FROM (
							   SELECT
							   MESSAGE_NO,
							   TO_USER_NO,
							   FROM_USER_NO,
							   MESSAGE_CONTENT,
							   to_char(message_reg_date,'yyyy-mm-dd hh24:mi:ss') as MESSAGE_REG_DATE,
							   MESSAGE_TYPE,
							   MESSAGE_TITLE,
							   PRODUCT_NO,
							   USER_NAME,
							   TARGET_USER_NAME
							   FROM 
  							   MESSAGE
  							   WHERE
  							   TO_USER_NO=#{userNo} 
							   ORDER BY MESSAGE_NO DESC
							   ) inner_table
  						WHERE ROWNUM <![CDATA[<=]]> #{search.currentPage}*#{search.pageSize} )
  		WHERE row_seq BETWEEN (#{search.currentPage}-1)*#{search.pageSize}+1
  		AND #{search.currentPage}*#{search.pageSize}
	</select>
	
	
	<!-- SQL : SELECT ONE -->
	
	<select id="getMessage" parameterType="int" resultMap="messageSelectMap">
		SELECT * FROM MESSAGE WHERE MESSAGE_NO = #{messageNo}
	</select>
	

	
	<!-- SQL : DELETE ONE -->
	
	<delete id="deleteMessage" parameterType="int">
		DELETE FROM MESSAGE WHERE MESSAGE_NO=#{messageNo}
	</delete>
	
	 
	 <select  id="getTotalCountMessage"  parameterType="int" resultType="int">
	  	SELECT COUNT(*)
	  		FROM(SELECT *
	  			 FROM MESSAGE
	  			 WHERE TO_USER_NO=#{userNo}
				) countTable						
	 </select>
</mapper>