<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TransactionMapper">
 	
 	
	<resultMap id="transactionSelectMap" type="transaction">
		<result property="tranNo" 					column="tran_no" 				jdbcType="NUMERIC"/>
		<result property="regDate"					column="tran_date" 				jdbcType="DATE" />
		<result property="tripDate" 				column="trip_date" 				jdbcType="DATE" />
		<result property="requirement" 				column="requirement" 			jdbcType="VARCHAR" />
		<result property="paymentType" 				column="pay_type" 				jdbcType="CHAR" />
		<result property="tranPro.productNo" 		column="product_no" 			jdbcType="NUMERIC" />
		<result property="tranPro.hostNo" 			column="host_no" 				jdbcType="NUMERIC" />
		<result property="count" 					column="tran_count" 			jdbcType="NUMERIC" />
		<result property="tranPro.productPrice" 	column="product_price" 			jdbcType="NUMERIC" />
		<result property="buyerNo" 					column="user_no" 				jdbcType="NUMERIC" />
		<result property="refundCode" 				column="refund_code" 			jdbcType="CHAR" />
		<result property="payToHostDate" 			column="pay_to_host_date" 		jdbcType="DATE" />
		<result property="totalPrice" 				column="tran_price" 			jdbcType="NUMERIC" />
		<result property="starEvalHost" 			column="host_star_eval" 		jdbcType="NUMERIC" />
		<result property="reviewHost" 				column="host_review" 			jdbcType="VARCHAR" />
		<result property="starEvalProduct" 			column="product_star_eval" 		jdbcType="NUMERIC" />
		<result property="reviewProduct" 			column="product_review" 		jdbcType="VARCHAR" />
		<result property="evalProduct" 				column="product_review" 		jdbcType="NUMERIC" />
		<result property="evalHost" 				column="product_review" 		jdbcType="NUMERIC" />			
	</resultMap>
	
	<resultMap id="refundSelectMap" type="refund">
		<result property="refundNo" 				column="refund_no" 				jdbcType="NUMERIC"/>
		<result property="tranNo" 					column="tran_no" 				jdbcType="NUMERIC"/>
		<result property="regDate"					column="refund_reg_date" 		jdbcType="NUMERIC" />
		<result property="confirmDate" 				column="refund_confirm_date" 	jdbcType="VARCHAR" />
		<result property="refundPrice" 				column="refund_price" 			jdbcType="CHAR" />
		<result property="refundAccount" 			column="refund_account" 		jdbcType="VARCHAR" />
		<result property="refundBank" 				column="refund_bank" 			jdbcType="VARCHAR" />			
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addPurchase"		parameterType="transaction" >
	 	INSERT
		INTO transaction( tran_no , trip_date , requirement, pay_type , product_no, host_no, tran_count, product_price, user_no, refund_code, pay_to_host_date, tran_price) 
		VALUES	 (	seq_TRANSACTION_TRAN_NO.NEXTVAL ,					
					#{tripDate} , 
					#{requirement:VARCHAR} , 
					#{paymentType} , 
					#{tranPro.productNo} ,
					#{tranPro.hostNo} ,
					#{count} ,
					#{tranPro.productPrice} ,
					#{buyerNo} ,
					1 ,
					#{payToHostDate} ,
					#{totalPrice} )
	 </insert>
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getPurchase"	parameterType="int"	resultMap="transactionSelectMap">
		SELECT
		tran_no , tran_date , trip_date , requirement, pay_type , product_no, host_no, tran_count, product_price, user_no, refund_code, pay_to_host_date, tran_price 		
		FROM transaction 
		WHERE tran_no = #{value}
	 </select>
	 
	 <!-- <select 	id="getPurchase2"	parameterType="int"	resultMap="transactionSelectMap">
		SELECT
		tran_no , prod_no , buyer_id , payment_option , receiver_name, receiver_phone, demailaddr, dlvy_request, tran_status_code, order_data, dlvy_date 		
		FROM transaction 
		WHERE prod_no = #{value}
	 </select> -->
	 
	 <!-- SQL : UPDATE -->
	 <update	id="updateTransactionCode"	parameterType="int" >
	   	UPDATE transaction
	   	<set>	   		
			refund_code		= #{refundCode}
	   	</set>
	   	WHERE tran_no = #{value}
	 </update>
		 
	<!-- SQL : SELECT LIST -->
	<select  id="listTransaction"  parameterType="map"	resultMap="transactionSelectMap">
		SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT 
									  	tran_no , tran_date , trip_date , requirement, pay_type , product_no, host_no, tran_count, product_price, user_no, tran_price 
									  	FROM transaction
									  	<where>
										  	<if test="userType == user">
							 					user_no= #{buyerNo}
							 				</if>
							 				<if test="userType == host">
							 					host_no= #{hostNo}
							 				</if>
						 				</where>								  	 
									  	ORDER BY tran_date DESC
									 ) inner_table
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum}
	 </select>
	 
	 	<!--  위 두번째 subQuery 의  
	 			WHERE ROWNUM &lt;= #{endRowNum} ) 는
	 			WHERE ROWNUM <= #{endRowNum} ) 의미이며..
	 			< 는 keyword 로 &lt; 를	사용.
	 			
	 			<![CDATA[  ~~~  ]]> 를 이용하여 아래와 같이 사용  할 수 있다.
	 			CDATA ==> Character Data 의 의미 Java 에서 \n 같은 특수문자 처리  

				WHERE ROWNUM <![CDATA[ <=]]> #{endRowNum} )
		-->
	
	<insert 	id="addRefund"		parameterType="refund" >
	 	INSERT
		INTO refund( refund_no , tran_no , refund_reg_date , refund_price , refund_account, refund_bank) 
		VALUES	 (	seq_REFUND_REFUND_NO.NEXTVAL , 
					#{tran_no} , 
					SYSDATE , 
					#{refundPrice} , 
					#{refundAccount} , 
					#{refundBank} )
	 </insert>
	
	<update id="updateRefund" parameterType="refund">
		UPDATE refund 
		SET 
			refund_confirm_date=#{confirmDate} 
		WHERE refund_no=#{value}	
	</update>
	
	<!-- SQL : SELECT LIST -->
	<select  id="listRefund"  parameterType="search"	resultMap="refundSelectMap">
		SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT 
									  	refund_no, tran_no, refund_reg_date, refund_confirm_date, refund_price, refund_account, refund_bank 
									  	FROM refund									  									  	 
									  	ORDER BY refund_no DESC
									 ) inner_table
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum}
	 </select>
	
	<delete id="deleteRefund" parameterType="int">
		DELETE 
		FROM refund 
		WHERE refund_no=#{value}	
	</delete>
		 
	 <update id="addStarEvalProduct" parameterType="transaction">
		UPDATE transaction 
		<set> 
			product_star_eval	= #{starEvalProduct} ,
			product_review		= #{reviewProduct}
		</set>
		WHERE tran_no=#{tranNo}	
	</update>
	
	<!-- SQL : SELECT LIST -->
	<select  id="listStarEval"  parameterType="map"	resultMap="transactionSelectMap">
		SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT
	  									<if test="evalType == product">
							 				product_no, tran_no , tran_date , trip_date , host_no, tran_count, user_no, product_star_eval, product_review
							 			</if>
							 			<if test="evalType == host">
							 				host_no, tran_no , tran_date , trip_date , product_no, tran_count, user_no, host_star_eval, host_review
							 			</if>									  	
									  	FROM transaction
									  	<where>								  	
											<if test="evalType == product">
								 				product_no= #{productNo}
								 			</if>
								 			<if test="evalType == host">
								 				host_no= #{hostNo}
								 			</if>
							 			</where>					 												  	 
									  	ORDER BY tran_date DESC
									 ) inner_table
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum}
	 </select>	 
	 	 
	 <update id="addStarEvalHost" parameterType="transaction">
		UPDATE transaction 
		<set> 
			host_star_eval	= #{starEvalHost} ,
			host_review		= #{reviewHost}
		</set>
		WHERE tran_no = #{value}	
	</update>
	 
	 <select 	id="getEval"	parameterType="map"	resultMap="transactionSelectMap">
		SELECT
		<if test="evalType == product">AVG(product_star_eval)</if>
		<if test="evalType == host">AVG(host_star_eval)</if>		
		FROM transaction
		<where>
			<if test="evalType == product">product_no = #{productNo}</if>
			<if test="evalType == host">host_no = #{hostNo}</if>
		</where>		
	 </select>
	 
	 <!-- SQL : SELECT LIST -->
	<select  id="listBest"  parameterType="map"	resultMap="transactionSelectMap">
		SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT
	  									<if test="evalType == product">
							 				host_no, AVG(product_star_eval) as product_eval
							 			</if>
							 			<if test="evalType == host">
							 				host_no, AVG(host_star_eval) as host_eval
							 			</if>									  	
									  	FROM transaction
									  	<if test="evalType == product">
								 			GROUP BY product_no ORDER BY product_eval DESC
								 		</if>
								 		<if test="evalType == host">
								 			GROUP BY host_no ORDER BY host_eval DESC
								 		</if>
									 ) inner_table
						WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum}
	 </select>	 
	
	<!-- SQL : SELECT ROW Count -->	 
	 <select  id="getTotalCount"  parameterType="map"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT
	  			<choose>
	  				<when test="userType == admin">refund_no, tran_no, refund_reg_date, refund_confirm_date, refund_price, refund_account, refund_bank 
									  			FROM refund
					</when>
	  				<otherwise>tran_no , tran_date , trip_date , requirement, pay_type , product_no, host_no, tran_count, product_price, user_no, tran_price
							FROM transaction
					</otherwise>
	  			</choose>				 
				<if test="userType == user">
					WHERE user_no= #{buyerNo}
				</if>
				<if test="userType == host">
					WHERE host_no= #{hostNo}
				</if>
				ORDER BY tran_date DESC
			 ) countTable						
	 </select>
	 
</mapper>